.card2-sec2 {
  padding: 10px 14px;
  border: 2px solid #ededed;
  border-radius: 7px;
  border-bottom: 4px solid #3aafa9;
}

.bg-mobile-2 {
  background: url("../assets/mobile-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  text-align: center;
}

.bg-mobile-2 img {
  width: 256px;
  height: 400px;
}
